name: Build ZMK Firmware

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:stable

    steps:
    - uses: actions/checkout@v3

    - name: Build firmware
      run: west build -s zmk/app -b nice_nano_v2 -- -DSHIELD=singlekey

    - name: Archive UF2
      uses: actions/upload-artifact@v3
      with:
        name: firmware
        path: build/zephyr/zmk.uf2
